# Reshaping Data: Merging (Appending Columns)

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('../data/Demo_sales_data.csv')
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,08/11/2021,11/11/2021,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.91
1,2,CA-2016-152156,08/11/2021,11/11/2021,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.58
2,3,CA-2016-138688,12/06/2021,16/06/2021,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.0,6.87
3,14,CA-2016-161389,05/12/2021,10/12/2021,Standard Class,IM-15070,Irene Maddox,Consumer,United States,Seattle,...,98103,West,OFF-BI-10003656,Office Supplies,Binders,Fellowes PB200 Plastic Comb Binding Machine,407.98,3,0.2,132.59
4,22,CA-2016-137330,09/12/2021,13/12/2021,Standard Class,KB-16585,Ken Black,Corporate,United States,Fremont,...,68025,Central,OFF-AR-10000246,Office Supplies,Art,Newell 318,19.46,7,0.0,5.06

In [11]:
df1=df[['Row ID','Customer ID','Customer Name']]
df1.head()

   Row ID Customer ID    Customer Name
0       1    CG-12520      Claire Gute
1       2    CG-12520      Claire Gute
2       3    DV-13045  Darrin Van Huff
3      14    IM-15070     Irene Maddox
4      22    KB-16585        Ken Black

In [14]:
df2=df[['Segment','Country']]
df2.head()

     Segment        Country
0   Consumer  United States
1   Consumer  United States
2  Corporate  United States
3   Consumer  United States
4  Corporate  United States

In [16]:
df3=pd.concat([df1,df2],axis=1)
df3.head()

   Row ID Customer ID    Customer Name    Segment        Country
0       1    CG-12520      Claire Gute   Consumer  United States
1       2    CG-12520      Claire Gute   Consumer  United States
2       3    DV-13045  Darrin Van Huff  Corporate  United States
3      14    IM-15070     Irene Maddox   Consumer  United States
4      22    KB-16585        Ken Black  Corporate  United States